.Rproj.user
.Rhistory
.RData
.Ruserdata
rankings_script.log
scratch/.DS_Store
.DS_Store
.DS_Store
scratch/testApp/rsconnect/shinyapps.io/tredd/testapp.dcf
dashboard/ReddRankings/rsconnect/shinyapps.io/tredd/ReddRankings.dcf
scratch/testApp/rsconnect/shinyapps.io/tredd/testapp.dcf
